custom/basicResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- ROOT ELEMENT -->
    <xsd:complexType name="BasicResponse">
        <xsd:sequence>
            <xsd:element name="self" type="xsd:string"/>
            <xsd:element name="metadata">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>